// Place all the styles related to the Fakebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.perm-white {
  background-color: white;
}

.selected {
  background-color: gray;
}

.table-wrapper {
  display: inline-block;
  width: 400px;
  position:relative;
}

.table-scroll {
  height: 600px;
  overflow:auto;
}

.table-wrapper table {
  width: 100%;
}

.table-wrapper table thead th .text {
  position:absolute;
  z-index:2;
  height:20px;
  width: 100%;
  border:1px solid red;
}
